<EditForm Model="@payment" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />s

    <div class="form-group">
        <label>Amount: </label>
        <div>
            <InputNumber @bind-Value="@payment.Amount" class="form-control" />
            <ValidationMessage For="@(() => payment.Amount)" />
        </div>
    </div>
    <div class="form-group">
        <label>Type: </label>
        <div>
            <InputText @bind-Value="@payment.Type" class="form-control" />
            <ValidationMessage For="@(() => payment.Type)" />
        </div>
    </div>
    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    <BackToList Target="payments" />
</EditForm>

@code {

    [Parameter] public Payment payment { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }

}
